// colors //

$darkteal: #00aeae;
$darklace: #f1e6b2;
$ocean: #32a7d6;
$orchid: #59326e;
$lighblue: #b9d5eb;
$coral: coral;
$ghostwhite: #f8f8ff;
$lightyellow: #ffffe0;
$black: #000000;
$white: #ffffff;

// general //

.bottom-out {
  margin-bottom: 0;
}

.top-1x {
  margin-top: 1rem;
}

.top-2x {
  margin-top: 2rem;
}

.bottom-1x {
  margin-bottom: 1rem;
}

.bottom-2x {
  margin-bottom: 2rem;
}

.larger-1x {
  font-size: 1.25rem;
}

.larger-2x {
  font-size: 1.75rem;
}

.teal {
  color: $darkteal;
}

.display-4 {
  font-size: 6.5rem;
  color: $lightyellow !important;
  text-shadow: 2px 2px $black;
  @media only screen and (max-width: 60em) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 40em) {
    font-size: 3.5rem;
  }
}

// Header & Banner //
.app {
  &.wrapper {
    z-index: 99;
    background-color: $white;
  }
  h1 {
    margin: 2rem auto;
  }
  h2 {
    font-size: 2.5rem;
    margin: auto auto 2rem auto;
    @media only screen and (max-width: 40em) {
      font-size: 2rem;
    }
  }
}

// jumbotron //

.jumbotron {
  padding: 2.5rem 1rem 5rem 1rem;
  background-image: url("https://raw.githubusercontent.com/CrystalCodes01/brystalflwed/master/brystalwed/public/romantic.jpg");
  background-size: cover;
  background-position: 100% 85%;
  height: 400px;
  margin: 1rem;
  @media only screen and (max-width: 60em) {
    height: 325px;
  }
  @media only screen and (max-width: 40em) {
    height: 450px;
  }
  .lead {
    font-size: 3rem;
    color: $lightyellow !important;
  }
}

// nav //

nav {
  .navbar-brand {
    font-family: fantasy;
    color: #282c34 !important;
    margin: 0.25rem 1rem auto 1rem;
  }
  .nav-item {
    margin: auto 1rem;
    &:hover,
    &:active,
    &:focus {
      font-weight: bold;
    }
    a {
      color: #282c34 !important;
    }
  }
}

// Page Title Headers //

.icon-header {
  font-size: 2rem;
}

// Footer //

footer {
  z-index: -99;
}

// Tables //

.table-itinerary {
  thead th {
    &.medium-expand {
      width: 200px;
      @media only screen and (max-width: 60em) {
        width: 150px;
      }
      @media only screen and (max-width: 40em) {
        width: 110px;
      }
    }
  }
}

// Timer Component //

.timer-wrapper {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  .clock {
    display: inline;
    margin: 10px;
    @media only screen and (max-width: 60em) {
      display: block;
    }
    @media only screen and (max-width: 40em) {
      display: block;
    }
  }
}

#countDown {
  border: 4px solid $darkteal;
  border-radius: 4px;
  -webkit-animation: mymove 7s infinite;
  animation: mymove 7s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {
    border-color: $ocean;
  }
}

@keyframes mymove {
  50% {
    border-color: $ghostwhite;
  }
}

// Animation //

.subtext-with-animation {
  font-size: 3rem;
  vertical-align: middle;
  letter-spacing: 4px;
  text-shadow: 2px 2px $black;
  @media only screen and (max-width: 60em) {
    left: 35%;
    top: 8.5rem;
  }
  @media only screen and (max-width: 40em) {
    left: 4rem;
    top: 14.5rem;
  }
}

.subtext-with-animation span:first-of-type {
  opacity: 0;
  animation: word-animation 0.8s ease-out 1.7s forwards;
}

.subtext-with-animation span:nth-of-type(2) {
  opacity: 0;
  animation: word-animation 0.8s ease-out 2s forwards;
}

@keyframes word-animation {
  0% {
    top: 10vw;
    opacity: 0;
  }
  100% {
    top: 3.5vw;
    opacity: 1;
  }
}
