// general //

.bottom-out {
  margin-bottom: 0;
}

.top-1x {
  margin-top: 1rem;
}

.bottom-1x {
  margin-bottom: 1rem;
}

.larger-1x {
  font-size: 1.25rem;
}

.larger-2x {
  font-size: 1.75rem;
}

.teal {
  color: lightcyan;
}

// Header & Banner //
.app {
  &.wrapper {
    z-index: 99;
    background-color: #ffffff;
  }
  .header {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
  }
  h1 {
    margin: 2rem auto;
  }
  h2 {
    font-size: 2.5rem;
    margin: auto auto 2rem auto;
    @media only screen and (max-width: 40em) {
      font-size: 2rem;
    }
  }
}

// jumbotron //

.jumbotron {
  padding: 2.5rem 1rem 5rem 1rem;
  background: linear-gradient(to bottom right, #f8f8ff 10%, lightcyan);
  margin: 1rem;
  .lead {
    font-size: 1.75rem;
  }
}

// nav //

nav {
  .navbar-brand {
    font-family: fantasy;
    color: #282c34 !important;
    margin: 0.25rem 1rem auto 1rem;
  }
  .nav-item {
    margin: auto 1rem;
    &:hover,
    &:active,
    &:focus {
      font-weight: bold;
    }
    a {
      color: #282c34 !important;
    }
  }
}

// Page Title Headers //

.icon-header {
  font-size: 2rem;
}

// Footer //

footer {
  z-index: -99;
}

// Timer Component //

.timer-wrapper {
  text-align: center;
  font-size: 2rem;
  border: lightcyan 4px solid;
  padding: 1rem;
  margin-top: 2rem;
  .clock {
    display: inline;
    margin: 10px;
    @media only screen and (max-width: 60em) {
      display: block;
    }
    @media only screen and (max-width: 40em) {
      display: block;
    }
  }
}

// Animation //

.subtext-with-animation {
  position: absolute;
  font-size: 3rem;
  vertical-align: middle;
  top: 7.5rem;
  left: 40%;
  color: #000000;
  letter-spacing: 4px;
  @media only screen and (max-width: 60em) {
    left: 35%;
    top: 8.5rem;
  }
  @media only screen and (max-width: 40em) {
    left: 4rem;
    top: 14.5rem;
  }
}

.subtext-with-animation span:first-of-type {
  position: relative;
  opacity: 0;
  animation: word-animation 0.8s ease-out 1.7s forwards;
}

.subtext-with-animation span:nth-of-type(2) {
  position: relative;
  opacity: 0;
  animation: word-animation 0.8s ease-out 2s forwards;
}

@keyframes word-animation {
  0% {
    top: 10vw;
    opacity: 0;
  }
  100% {
    top: 3.5vw;
    opacity: 1;
  }
}
